@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap");

body {
  /* Значення за замовченням */
  font-family: "Lato";
  color: #424551;
  background-color: #f0f0f0;
  font-size: 16px;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.wrapper > main {
  flex-grow: 1;
}

/* =========================== */

.header {
}

.footer {
}

/* ================== */
.page {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.page__lessons {
}

.lessons__content {
}

.lesson__link {
  display: inline-block;
  margin: 5px;
  background-color: #0077c8;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 38px;
  cursor: pointer;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* ============================================= */
.page__lesson {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 20px;
}
.lesson-page {
}
.lesson-page__container {
}
.lesson-page__content {
}
.lesson-page__questions {
  display: grid;
}
.lesson-page__title {
}
.title {
  font-family: 'Lato', sans-serif;
  display: inline-block;
  font-size: 30px;
  text-align: center;
  padding-bottom: 30px;
}
.item__title {
}
.lesson-page__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
  row-gap: 5px;
  @media (max-width: 767.98px) {
    grid-template-columns: repeat(2, auto);
  }
  @media (max-width: 420px) {
    grid-template-columns: auto;
  }
}
.item {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 15px;
  row-gap: 5px;
  @media (max-width: 767.98px) {
    grid-template-columns: repeat(3, auto);
  }
  @media (max-width: 420px) {
    grid-template-columns: auto;
  }
}
.item:not(:last-child) {
  margin-bottom: 30px;
}
.item__btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  background-color: #0077c8;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}
.lesson-page__btn:hover {
  background-color: #0099c8;
}

.lesson-page__btn:active {
  background-color: #0011c8;
}

.lesson-page__add {
}
.lesson-page__practice {
}
.lessons-page__ansver {
  display: inline-block;
  padding: 10px 20px;
  margin: 30px 5px;
  background-color: #0077c8;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}
/* ============================================== */
