<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/style.css">
	<title>Урок 8</title>
</head>

<body>
	<div class="wrapper">
		<header class="header">
		</header>
		<main class="page">
			<section class="page__lesson lesson-page">
				<div class="lesson-page__container">
					<div class="lesson-page__content">
						<div class="lesson-page__questions">
							<h2 class="lesson-page__title title">Урок 8</h2>
							<h3 class="item__title title">Задачі</h3>
							<div class="lesson-page__items item">

								<!-- <div class="item__body">
									<p class="item__text"><span class="item__label"></span><br></p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.1_)">Відповідь</button>
									</div>
								</div> -->
							</div>
							<h3 class="item__title title">Додаткові завдання</h3>
							<div class="lesson-page__add item">

								<!-- <div class="item__body">
									<p class="item__text"><span class="item__label"></span><br></p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.2_)">Відповідь</button>
									</div>
								</div> -->
							</div>
							<h3 class="item__title title">Задачі виконані на уроці</h3>
							<div class="lesson-page__practice item">
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача</span><br>Створити функцію яка дозволяє
										визначити чи вказаний місяць (1-12) є літнім (6-8)</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_1)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача</span><br>Створити функцію, яка дозволяє
										визначити чи є працівник пенсіонером(вік >=65)</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_2)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача</span><br>Поступово генеруються R випадкових
										чисел у вказаному діапазоні. Знайти суму тільки парних.</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_3)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача</span><br>Задано деякий діапазон років. Вивести
										на екран К років починаючи з першого високосного року</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_4)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача</span><br>Дано вартість товарів, яку купив
										користувач. Знайти загальну вартість усіх товарів</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_5)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача</span><br>
										Дано розміри доходу магазину за кожен місяць протягом року. Знайти: <br> 
										1) Загальний дохід за рік (1-12)<br> 
										2) Загальний дохід за 1-ше півріччя (1-6)<br> 
										3) Загальний дохід за 2-ге півріччя <br> 
										4) Загальний дохід за 2-гий квартал(4-6)<br> 
										5) Загальний дохід за 2-гий і 3-тій квартал(4-9)</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_6)">Відповідь</button>
									</div>
								</div>
								<!-- <div class="item__body">
									<p class="item__text"><span class="item__label">Задача</span><br></p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_)">Відповідь</button>
									</div>
								</div> -->
							</div>
						</div>
						<div id="question-content" class="lessons-page__ansver">
							<a href="../index.html">Повернутися на головну сторінку</a>
						</div>
					</div>
				</div>
			</section>
		</main>
		<footer class="footer">
		</footer>
	</div>
	<!-- Підключення скриптів -->
	<script src="../js/lesson_8.js"></script>
</body>

</html>