<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/style.css">
	<title>Урок 10</title>
</head>

<body>
	<div class="wrapper">
		<header class="header">
		</header>
		<main class="page">
			<section class="page__lesson lesson-page">
				<div class="lesson-page__container">
					<div class="lesson-page__content">
						<div class="lesson-page__questions">
							<h2 class="lesson-page__title title">Урок 10</h2>
							<h3 class="item__title title">Задачі</h3>
							<div class="lesson-page__items item">

								<!-- <div class="item__body">
									<p class="item__text"><span class="item__label"></span><br></p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.1_)">Відповідь</button>
									</div>
								</div> -->
							</div>
							<h3 class="item__title title">Додаткові завдання</h3>
							<div class="lesson-page__add item">

								<!-- <div class="item__body">
									<p class="item__text"><span class="item__label"></span><br></p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.2_)">Відповідь</button>
									</div>
								</div> -->
							</div>
							<h3 class="item__title title">Задачі виконані на уроці</h3>
							<div class="lesson-page__practice item">
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача 1</span><br>Дано масив цін. вивести їх окремими
										div</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_1)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача 2</span><br>Задано масив імен праццівників.
										Сформувати масив. який складається з перших літкр імен</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_2)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача 3</span><br>Дано масив днів. Сформувати масив з
										відповідними назвами днів</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_3)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача 4</span><br>Реєструвати імена користувачів
										(вводити і зберігати в масиві).</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_4)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача 5</span><br>Дано упорядкований за зростанням
										масив цін. Сформувати новий масив, який складається тільки з різних значень</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_5)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача 6</span><br>Дано масив чисел, що містять нулі.
										Створити масив, що складається з елементів між цими нулями</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_6)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача 7</span><br>Дано масив чисел, що містять нулі.
										Створити масив, що складається з елементів між цими нулями</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_7)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача 8</span><br>Дано масив з віком відвідувачів.
										Визначити індекс першого пенсіонера (>=65)</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_8)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача 9</span><br>Дано масив оцінок двійочника. Визначити першу поганну оцінку (<4). </p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_9)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача 10</span><br>Дано масив років відвідувачів басейну. Визначити вік останнього пенсіонера (вік більше або рівно 65 років)</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_11)">Відповідь</button>
									</div>
								</div>	
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача 11</span><br>Дано масив кімнат, які звернулися на рецепцію. Визначити чи зверталися з кімнати номер 5.</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_12)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача 12</span><br>Матиматичні приклади на основі метода 'reduсe'</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_13)">Відповідь</button>
									</div>
								</div>							
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача 13</span><br>Матиматичні приклади на основі метода 'filter'</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_14)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача 14</span><br>Матиматичні приклади на основі метода 'some', 'every'</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_15)">Відповідь</button>
									</div>
								</div>								
								<!-- <div class="item__body">
									<p class="item__text"><span class="item__label">Задача</span><br></p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_)">Відповідь</button>
									</div>
								</div> -->
							</div>
						</div>
						<div id="question-content" class="lessons-page__ansver">
							<a href="../index.html">Повернутися на головну сторінку</a>
						</div>
					</div>
				</div>
			</section>
		</main>
		<footer class="footer">
		</footer>
	</div>
	<!-- Підключення скриптів -->
	<script src="../js/lesson_10.js"></script>
</body>

</html>