<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/style.css">
	<title>Урок 8</title>
</head>

<body>
	<div class="wrapper">
		<header class="header">
		</header>
		<main class="page">
			<section class="page__lesson lesson-page">
				<div class="lesson-page__container">
					<div class="lesson-page__content">
						<div class="lesson-page__questions">
							<h2 class="lesson-page__title title">Урок 8</h2>
							<h3 class="item__title title">Задачі</h3>
							<div class="lesson-page__items item">
								<div class="item__body">
									<p class="item__text"><span class="item__label"></span>Задача 1.<br>Дано масив, який містить оцінки з
										К предметів. Знайти середній бал і з’ясувати до якої категорії він відноситься (відмінник, двійочник
										(має хоча би одну двійку), хорошист (оцінки добре і відмінно), трійочник(є хоча би одна трійка).</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.1_1)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача 2.</span><br>Дано масив, який зберігає
										кількість відвідувачів магазину протягом тижня.</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.1_2)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача 4.</span><br>Дано послідовність номерів
										автомобілів. Підрахувати кількість номерів, які :</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.1_3)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача 6.</span><br>Дано послідовність цін товарів та
										назв (у окремих масивах). Вивести на екран ті, які може собі дозволити користувач (кількість грошей
										задається).</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.1_4)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача 8</span><br>Дано одновимірний масив, у якому
										зберігається певна виграшна сума (елементи заповнюються випадковим чином значеннями від -500 до
										500). Надаючи користувачу можливість вибирати номери елементів (поки він не відмовиться). Знаходити
										сумарний виграш.</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.1_5)">Відповідь</button>
									</div>
								</div>
							</div>
							<h3 class="item__title title">Додаткові завдання</h3>
							<div class="lesson-page__add item">
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача 3</span><br>Дано масив імен учнів. З’ясувати
										скільки разів зустрічається ім’я «Іван».</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.2_1)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача 5</span><br> Дано послідовність оцінок учня.
										Підрахувати кількість:</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.2_2)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача 7</span><br>Дано послідовність платіжок
										протягом року. Знайти сумарну кількість грошей за:</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.2_3)">Відповідь</button>
									</div>
								</div>
								<!-- <div class="item__body">
									<p class="item__text"><span class="item__label">Задача</span><br></p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.2_)">Відповідь</button>
									</div>
								</div> -->
								<!-- <div class="item__body">
									<p class="item__text"><span class="item__label">Задача</span><br></p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.2_5)">Відповідь</button>
									</div>
								</div> -->
							</div>
							<h3 class="item__title title">Задачі виконані на уроці</h3>
							<div class="lesson-page__practice item">
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача</span><br>Створити функцію яка дозволяє
										визначити чи вказаний місяць (1-12) є літнім (6-8)</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_1)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача</span><br>Створити функцію, яка дозволяє
										визначити чи є працівник пенсіонером(вік >=65)</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_2)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача</span><br>Поступово генеруються R випадкових
										чисел у вказаному діапазоні. Знайти суму тільки парних.</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_3)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача</span><br>Задано деякий діапазон років. Вивести
										на екран К років починаючи з першого високосного року</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_4)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача</span><br>Дано вартість товарів, яку купив
										користувач. Знайти загальну вартість усіх товарів</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_5)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача</span><br>
										Дано розміри доходу магазину за кожен місяць протягом року. Знайти: <br>
										1) Загальний дохід за рік (1-12)<br>
										2) Загальний дохід за 1-ше півріччя (1-6)<br>
										3) Загальний дохід за 2-ге півріччя <br>
										4) Загальний дохід за 2-гий квартал(4-6)<br>
										5) Загальний дохід за 2-гий і 3-тій квартал(4-9)</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_6)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача</span><br>Ввести чотири загадані користувачем
										числа</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_7)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача</span><br>Зробити функцію яка буде генерувати
										числа у вказаному діапазоні</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_8)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача</span><br>Створити функцію, яка приймає рік
										виходу на пенсію та довільну кількість років працівників. Визначти кількість пенсіонерів</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_9)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача</span><br>Дано покази температур. Підрахувати
										пількість показників у заданому діапазоні</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_11)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача</span><br>Дано покази теиператур (довільна
										кількість). Розробити функціюб яка дозволить знайти середнє значення для додатних показів
										температури.</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_12)">Відповідь</button>
									</div>
								</div>
							</div>
						</div>
						<div id="question-content" class="lessons-page__ansver">
							<a href="../index.html">Повернутися на головну сторінку</a>
						</div>
					</div>
				</div>
			</section>
		</main>
		<footer class="footer">
		</footer>
	</div>
	<!-- Підключення скриптів -->
	<script src="../js/lesson_8.js"></script>
</body>

</html>