<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/style.css">
	<title>Урок 9</title>
</head>

<body>
	<div class="wrapper">
		<header class="header">
		</header>
		<main class="page">
			<section class="page__lesson lesson-page">
				<div class="lesson-page__container">
					<div class="lesson-page__content">
						<div class="lesson-page__questions">
							<h2 class="lesson-page__title title">Урок 9</h2>
							<h3 class="item__title title">Задачі</h3>
							<div class="lesson-page__items item">
								<div class="item__body">
									<p class="item__text"><span class="item__label"></span><br>1. Користувач вводить кількість елементів. Створити масив, що складається з вказаної кількості елементів заповнених нулями.</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.1_1)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label"></span><br>3. Користувач вводить кількість елементів. Створити масив, у якому перші 5 елементів заповнені 1-цями, а інші до кінця масиву заповнені 7-ками.</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.1_2)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label"></span><br>4.Дано масив елементів. Вивести на екран елементи, що більші за 100</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.1_3)">Відповідь</button>
									</div>
								</div>
								<!-- <div class="item__body">
									<p class="item__text"><span class="item__label"></span><br></p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.1_)">Відповідь</button>
									</div>
								</div> -->
								<!-- <div class="item__body">
									<p class="item__text"><span class="item__label"></span><br></p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.1_)">Відповідь</button>
									</div>
								</div> -->
							</div>
							<h3 class="item__title title">Додаткові завдання</h3>
							<div class="lesson-page__add item">
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача 2.</span><br>Користувач вводить кількість елементів. Створити масив, у якому перша половина заповнена 1-цями, а друга заповнена 7-ками.
									</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.2_1)">Відповідь</button>
									</div>
								</div>
								<!-- <div class="item__body">
									<p class="item__text"><span class="item__label"></span><br></p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.2_)">Відповідь</button>
									</div>
								</div> -->
								<!-- <div class="item__body">
									<p class="item__text"><span class="item__label"></span><br></p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.2_)">Відповідь</button>
									</div>
								</div> -->
								<!-- <div class="item__body">
									<p class="item__text"><span class="item__label"></span><br></p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.2_)">Відповідь</button>
									</div>
								</div> -->
								<!-- <div class="item__body">
									<p class="item__text"><span class="item__label"></span><br></p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.2_)">Відповідь</button>
									</div>
								</div> -->
							</div>
							<h3 class="item__title title">Задачі виконані на уроці</h3>
							<div class="lesson-page__practice item">
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача</span><br>Дано послідовність платіжок протягом
										року. Знайти сумарну кількість грошей за:</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_1)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача</span><br>Дано масив показників температур.
										Вивести на екран додатні значення показників</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_2)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача</span><br>Дано масив цін товарів. Знайти суму
										цін більших за 100</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_3)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача</span><br>Дано список імен користувачів.
										Створити функцію для перегляду користувачів при чому для кожного треба виконати одну з дій: або
										привітатися, або попрощатися з кожним</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_4)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача</span><br>Дано масив оцінок учнів у 12 бальній
										шкалі. Користувач задає шкалу, у якій він хоче отримати результати учнів</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_5)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача</span><br>Дано масив показників температур.
										Вивести на екран додатні значення показників</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_6)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача</span><br>Дано масив років народження
										працівників (усі народилися 1 січня). Створити масив з кількістю років.</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_7)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача</span><br>Дано масив товарів у долларах.
										Створити масив цін у гривнях</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_8)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача</span><br>Дано масив років. Після кожного
										значення 2010 додати 2015</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_9)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача</span><br>Дано покази температур за рік (12
										місяців). Замінити значення літніх місяців нулями</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_11)">Відповідь</button>
									</div>
								</div>
							</div>
						</div>
						<div id="question-content" class="lessons-page__ansver">
							<a href="../index.html">Повернутися на головну сторінку</a>
						</div>
					</div>
				</div>
			</section>
		</main>
		<footer class="footer">
		</footer>
	</div>
	<!-- Підключення скриптів -->
	<script src="../js/lesson_9.js"></script>
</body>

</html>