<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/style.css">
	<title>Урок 11</title>
</head>

<body>
	<div class="wrapper">
		<header class="header">
		</header>
		<main class="page">
			<section class="page__lesson lesson-page">
				<div class="lesson-page__container">
					<div class="lesson-page__content">
						<div class="lesson-page__questions">
							<h2 class="lesson-page__title title">Урок 11</h2>
							<h3 class="item__title title">Задачі</h3>
							<div class="lesson-page__items item">

								<!-- <div class="item__body">
									<p class="item__text"><span class="item__label"></span><br></p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.1_)">Відповідь</button>
									</div>
								</div> -->
							</div>
							<h3 class="item__title title">Додаткові завдання</h3>
							<div class="lesson-page__add item">

								<!-- <div class="item__body">
									<p class="item__text"><span class="item__label"></span><br></p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.2_)">Відповідь</button>
									</div>
								</div> -->
							</div>
							<h3 class="item__title title">Задачі виконані на уроці</h3>
							<div class="lesson-page__practice item">
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача 1</span><br>З клавіатури вводяться числа до тих
										пір, поки послідовність є зростаючою або спадною</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_1)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача 2</span><br>Знайти суму числа, що знаходиться
										між першою цифрою 7 і останньою цифрою 7 (у числі є всього дві цифри 7 наприклад: 2679328712)</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_2)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача 3</span><br>Комп'ютер загадує два випадкових
										числа від 1 до 10. Вгадати обидва числа шляхом введення можливих варіантів. В кінці вивести
										кількість спроб користувача.</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_3)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача 4</span><br>Створити функцію, яка для 3 заданих чисел знаходить одночасно декілька результатів: кількість парних, кількість додатних, кількість більших за 100.</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_4)">Відповідь</button>
									</div>
								</div>
								<!-- <div class="item__body">
									<p class="item__text"><span class="item__label">Задача</span><br></p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_)">Відповідь</button>
									</div>
								</div> -->
							</div>
						</div>
						<div id="question-content" class="lessons-page__ansver">
							<a href="../index.html">Повернутися на головну сторінку</a>
						</div>
					</div>
				</div>
			</section>
		</main>
		<footer class="footer">
		</footer>
	</div>
	<!-- Підключення скриптів -->
	<script src="../js/lesson_11.js"></script>
</body>

</html>