<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/style.css">
	<title>Урок 7</title>
</head>

<body>
	<div class="wrapper">
		<header class="header">
		</header>
		<main class="page">
			<section class="page__lesson lesson-page">
				<div class="lesson-page__container">
					<div class="lesson-page__content">
						<div class="lesson-page__questions">
							<h2 class="lesson-page__title title">Урок 7</h2>
							<h3 class="item__title title">Задачі</h3>
							<div class="lesson-page__items item">
								<div class="item__body">
									<p class="item__text"><span class="item__label"></span><br>Створити функцію, яка за номером
										місяця повертає пору року, до якої відноситься цей місяць.</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.1_1)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача 3.</span><br>Створити окремі функції, які для 4
										чисел знаходять: <br>
										1)суму;<br>
										2)добуток;<br>
										3)середнє арифметичне;<br>
										4)мінімальне значення.
									</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.1_2)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача 6.</span><br>Створити функцію, яка створює таблицю з вказаною кількістю рядків і стовпців (таблиця заповнюється заданим фіксованим повідомленням).</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.1_3)">Відповідь</button>
									</div>
								</div>

								<!-- <div class="item__body">
									<p class="item__text"><span class="item__label"></span><br></p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.1_)">Відповідь</button>
									</div>
								</div> -->
							</div>
							<h3 class="item__title title">Додаткові завдання</h3>
							<div class="lesson-page__add item">
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача 1.</span><br>Створити функцію, яка за номером
										місяця повертає його назву.</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.2_1)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача 2.</span><br>Створити функцію, яка за номером
										дня дозволяє з’ясувати чи є цей день робочим.</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.2_2)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача 4.</span><br>Створити функцію, яка для 3
										заданих чисел знаходить одночасно декілька результатів: кількість парних, кількість додатних,
										кількість більших за 100.
									</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.2_3)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача 5. </span><br>Створити окремі функції, які
										переводять: 1)Сантиметри у дюйми; 2)Кілограми у фунти; 3) Кілометри у милі.</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.2_4)">Відповідь</button>
									</div>
								</div>
								<!-- <div class="item__body">
									<p class="item__text"><span class="item__label"></span><br></p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.2_)">Відповідь</button>
									</div>
								</div> -->
							</div>
							<h3 class="item__title title">Задачі виконані на уроці</h3>
							<div class="lesson-page__practice item">
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача</span><br>Знайти суму трьох чисел</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_1)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача</span><br>Знайти вартість оренди авто за
										заданою вартістю на місяць і кількістю місяців</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_2)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача</span><br>Знайти прибуток банку при купівлі та
										реалізації валюти</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_3)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача</span><br>Знайти вартісь путівки на вказану
										кількість днів (вказано вартість проживання, харчування, комплекса процедур)</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_4)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача</span><br>Задано ширину елемента у відсотках та
										ширину контейнера у пікселях. Визначити ширину елемента у пікселях</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_5)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача</span><br>Задано ширину контейнера у пікселях
										та мінімальну ширину K елементів. Визначити чи можна розмістити елементи в одному рядку</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_6)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача</span><br>Задано показники таймера відліку.
										Знайти колір, який треба застосувати для його виведення (100 - 80 зелений, 79 - 30 жовтий, 29 - 0
										червоний).</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_7)">Відповідь</button>
									</div>
								</div>
								<div class="item__body">
									<p class="item__text"><span class="item__label">Задача</span><br>Двоє гравців кидають два рази кубик і
										визначається загальна кількість балів. Визначити переможця</p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_8)">Відповідь</button>
									</div>
								</div>
								<!-- <div class="item__body">
									<p class="item__text"><span class="item__label">Задача</span><br></p>
									<div class="item__action">
										<button class="item__btn" onclick="showQuestion(5.3_)">Відповідь</button>
									</div>
								</div> -->
							</div>
						</div>
						<div id="question-content" class="lessons-page__ansver">
							<a href="../index.html">Повернутися на головну сторінку</a>
						</div>
					</div>

				</div>
			</section>
		</main>
		<footer class="footer">
		</footer>
	</div>
	<!-- Підключення скриптів -->
	<script src="../js/lesson_7.js"></script>
</body>

</html>