<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/style.css">
	<title>Урок 4</title>
</head>

<body>
	<div class="wrapper">
		<!-- Шапка сайту -->
		<header class="header">
			<!-- Тут може бути ваша шапка -->
		</header>

		<!-- Основний вміст -->
		<main class="page">
			<section class="page__lesson lesson-page">
				<div class="lesson-page__container">
					<div class="lesson-page__content">
						<div class="lesson-page__questions">
							<h2 class="lesson-page__title title">Урок 4</h2>
							<h3 class="item__title title">Задачі</h3>
							<div class="lesson-page__items item">
								<button class="item__btn" onclick="showQuestion(1)">Питання 1</button>
								<button class="item__btn" onclick="showQuestion(2)">Питання 2</button>
								<button class="item__btn" onclick="showQuestion(3)">Питання 3</button>
								<button class="item__btn" onclick="showQuestion(4)">Питання 4</button>
								<button class="item__btn" onclick="showQuestion(5)">Питання 5</button>
								<button class="item__btn" onclick="showQuestion(6)">Питання 6</button>
								<button class="item__btn" onclick="showQuestion(7)">Питання 7</button>
							</div>
							<h3 class="item__title title">Практика</h3>
							<div class="lesson-page__practice item">
								<button class="item__btn" onclick="showQuestion(8)">Питання 1</button>
								<button class="item__btn" onclick="showQuestion(9)">Питання 2</button>
								<button class="item__btn" onclick="showQuestion(10)">Питання 3</button>								
								<button class="item__btn" onclick="showQuestion(11)">Питання 4</button>
								<button class="item__btn" onclick="showQuestion(12)">Питання 5</button>
								<button class="item__btn" onclick="showQuestion(13)">Питання 6</button>
								<button class="item__btn" onclick="showQuestion(14)">Питання 7</button>
								<button class="item__btn" onclick="showQuestion(15)">Питання 8</button>
								<button class="item__btn" onclick="showQuestion(16)">Питання 9</button>
								<button class="item__btn" onclick="showQuestion(17)">Питання 10</button>
								<button class="item__btn" onclick="showQuestion(18)">Питання 11</button>
								<button class="item__btn" onclick="showQuestion(19)">Питання 12</button>
								<button class="item__btn" onclick="showQuestion(20)">Питання 13</button>
								<button class="item__btn" onclick="showQuestion(21)">Питання 14</button>
								<button class="item__btn" onclick="showQuestion(22)">Питання 15</button>
							</div>
						</div>
						<div id="question-content" class="lessons-page__ansver">
							<a href="../index.html">Повернутися на головну сторінку</a>
						</div>
					</div>
				</div>
			</section>
		</main>
		<!-- Підвал сайту -->
		<footer class="footer">
			<!-- Тут може бути ваш підвал -->
		</footer>
	</div>
	<!-- Підключення скриптів -->
	<script src="../js/lesson_4.js"></script>
</body>

</html>