<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/style.css">
	<title>Урок 5</title>
</head>

<body>
	<div class="wrapper">
		<header class="header">
		</header>

		<main class="page">
			<section class="page__lesson lesson-page">
				<div class="lesson-page__container">
					<div class="lesson-page__content">
						<div class="lesson-page__questions">
							<h2 class="lesson-page__title title">Урок 6</h2>
							<h3 class="item__title title">Задачі</h3>
							<div class="lesson-page__items item">
								<button class="item__btn" onclick="showQuestion(5.1_1)">Питання 1</button>
							</div>
							<h3 class="item__title title">Додаткові завдання</h3>
							<div class="lesson-page__add item">
								<button class="item__btn" onclick="showQuestion(5.2_1)">Питання 1</button>
							</div>
							<h3 class="item__title title">Задачі вирішені на уроці</h3>
							<div class="lesson-page__practice item">
								<button class="item__btn" onclick="showQuestion(5.3_1)">Питання 1</button>
								
							</div>
						</div>
						<div id="question-content" class="lessons-page__ansver">
							<a href="../index.html">Повернутися на головну сторінку</a>
						</div>
					</div>
				</div>
			</section>
		</main>
		<footer class="footer">
		</footer>
	</div>
	<!-- Підключення скриптів -->
	<script src="../js/lesson_6.js"></script>
</body>

</html>